.contact__wrapper {
  padding: 70px 0px;
  .head__title {
    font-size: 36px;
    margin-bottom: 40px;
    font-weight: 500;
  }
  .contact__title {
    h2 {
      font-size: 24px;
      font-weight: 500;
      margin: 30px 0px;
      line-height: 160%;
      text-align: center;
      span {
        &:last-child {
          display: block;
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
  .contact__wrapper {
    .contact__title {
      h2 {
        font-size: 20px;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .contact__wrapper {
    h2 {
      text-align: center;
    }
    .contact__title {
      h2 {
        font-size: 16px;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .contact__wrapper {
    .contact__title {
      h2 {
        font-size: 14px;
      }
    }
  }
}
