body {
    background-color: #FFFDFE;
}

a {
    text-decoration: none !important;
}

select {
    outline: none !important;
}

.py-10 {
    padding: 120px 0px;
}

.mt-80 {
    margin-top: 80px;
}

footer {
    padding: 10px 0px;
}
