.color__light {
    color: #ffffff !important;
}

.color__dark {
    color: #161616 !important;
}

.bg__light {
    background-color: #FFFDFE !important;
}

.bg__dark {
    background-color: #161616 !important;
}

.bg__transparent {
    background-color: transparent !important;
}
